

.main{
    border: 17px solid blue;
    border-radius: 10px;
}

.name{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.head1 img{
    height: 125px;
  border: 2px solid blue;
  border-radius: 50%;
  margin-left: 34%;
  
}

.head1 name{
    margin-left: 50%;
}

.head1{
    display: flex;
}

.head1 h1{
    margin-left: 409px;
  font-size: 50px;
}

#phone{
    margin-left: 409px;
  margin-top: 0;
}

.content p{
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-left: 85px;
  margin-right: 179px;
}

#work-head{
    text-align: center;
  margin-top: 43px;
  color: white;
  background-color: blue;
  padding-top: 3px;
  padding-bottom: 1px;
  font-size: 15px;
}

#mcd{
    margin-left: 30px;
}

.mcd-content{
    margin-right: 134px;
  margin-left: 102px;
  font-size: 20px;
  color: rgb(245, 12, 12);
}

#edu-head{
    text-align: center;
  margin-top: 43px;
  color: white;
  background-color: blue;
  padding-top: 3px;
  padding-bottom: 1px;
  font-size: 15px;
}

#edc{
    margin-left: 30px;
}

.edc-content{
    margin-right: 134px;
  margin-left: 102px;
  font-size: 20px;
  color: rgb(245, 12, 12);
}


#footer{
    font-size: 20px;
    color: white;
    background-color: blue;
    padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.what{
    
  position: fixed;
  z-index: 2;
  margin-left: 90%;
}

.what img{
    height: 100px;
}

.copy{
    text-align: center;
    font-size: 100px;
    position: fixed;
    z-index: -1;
    visibility: inherit;
    opacity: 0.2;
    
}